In [43]:
import sqlite3
import pandas as pd
pd.set_option('display.max_columns', None)
conn = sqlite3.connect('data/basketball.sqlite')
db = conn.cursor()

1. get the expected lum sum value of nba stars
- 2 columns players, value

Add on combine with player attributes to be able to search highest salary under certain limited
- Player_salary ps join Player_Attributes pa on ps.namePlayer= pa.DISPLAY_FIRST_LAST

In [47]:
db.execute(    
'''select ps.namePlayer,sum(ps.value) as salary
from Player_salary ps join Player_Attributes pa on ps.namePlayer= pa.DISPLAY_FIRST_LAST
group by ps.namePlayer
HAVING pa.POSITION ='Forward'
order by salary desc
limit 10''')
rows = db.fetchall()
pd.DataFrame(rows)

                       0            1
0            Paul George  211715564.0
1  Giannis Antetokounmpo  203793832.0
2         Brandon Ingram  158253000.0
3          Tobias Harris  147258000.0
4        Khris Middleton  146896552.0
5          Pascal Siakam  136905216.0
6           Kevin Durant  126056700.0
7           LeBron James  124875098.0
8         Gordon Hayward  120000000.0
9           Jimmy Butler  108048600.0

In [57]:
db.execute(    
'''select *
from Player_salary

limit 5''')
rows = db.fetchall()
pd.DataFrame(rows)

,0,1,2,3,4,5,6,7,8,9,10,11
0,2020-21,Atlanta Hawks,Bogdan Bogdanovic,current roster,0,0,1,0,0,0,Guaranteed,18000000.0
1,2021-22,Atlanta Hawks,Bogdan Bogdanovic,current roster,0,0,1,0,0,0,Guaranteed,18000000.0
2,2022-23,Atlanta Hawks,Bogdan Bogdanovic,current roster,0,0,1,0,0,0,Guaranteed,18000000.0
3,2023-24,Atlanta Hawks,Bogdan Bogdanovic,current roster,1,0,1,0,0,1,Player Option,18000000.0
4,2020-21,Atlanta Hawks,Brandon Goodwin,current roster,0,0,1,0,0,0,Guaranteed,1701593.0

2. get the team salary of the year
- get the salary of each player in a year from q1
- group by the team of the player
- filter the year

In [68]:
db.execute(    
'''select pa.TEAM_NAME,sum(ps.value) as salary,ps.slugSeason
from Player_salary ps join Player_Attributes pa on ps.namePlayer= pa.DISPLAY_FIRST_LAST
group by  pa.TEAM_NAME
HAVING ps.slugSeason ='2020-21'
order by salary desc
limit 30''')
rows = db.fetchall()
pd.DataFrame(rows)

                0            1        2
0           Bucks  591382544.0  2020-21
1            Nets  577356022.0  2020-21
2            Jazz  561305976.0  2020-21
3           76ers  508213140.0  2020-21
4        Warriors  493057681.0  2020-21
5        Clippers  474742140.0  2020-21
6   Trail Blazers  456295999.0  2020-21
7         Celtics  455126777.0  2020-21
8          Lakers  430323153.0  2020-21
9        Pelicans  419701298.0  2020-21
10        Raptors  404764653.0  2020-21
11           Heat  395911917.0  2020-21
12        Nuggets  387470992.0  2020-21
13        Wizards  384514578.0  2020-21
14          Kings  375876493.0  2020-21
15           Suns  373593801.0  2020-21
16          Hawks  360559496.0  2020-21
17          Magic  348151034.0  2020-21
18         Pacers  342215765.0  2020-21
19        Rockets  295169564.0  2020-21
20   Timberwolves  292488373.0  2020-21
21          Spurs  280025323.0  2020-21
22      Mavericks  277300312.0  2020-21
23      Cavaliers  272903823.0  2020-21
24      Grizzlies  265682663.0  2020-21
25        Hornets  227890805.0  2020-21
26        Thunder  182299823.0  2020-21
27          Bulls  175632226.0  2020-21
28        Pistons  165215818.0  2020-21
29         Knicks  133673883.0  2020-21

In [ ]:
!git add basketball\ practice.ipynb
!