In [3]:
import sqlite3

conn = sqlite3.connect('data/chinook.db')
db = conn.cursor()
db.execute(    
'''
select *
from invoices
limit 3
''')
rows = db.fetchall()
print(rows)

[(1, 2, '2009-01-01 00:00:00', 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', 1.98), (2, 4, '2009-01-02 00:00:00', 'Ullevålsveien 14', 'Oslo', None, 'Norway', '0171', 3.96), (3, 8, '2009-01-03 00:00:00', 'Grétrystraat 63', 'Brussels', None, 'Belgium', '1000', 5.94)]

In [12]:
import pandas as pd

In [13]:
pd.DataFrame(rows)

,0,1,2,3,4,5,6,7,8
0,1,2,2009-01-01 00:00:00,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,1.98
1,2,4,2009-01-02 00:00:00,Ullevålsveien 14,Oslo,None,Norway,0171,3.96
2,3,8,2009-01-03 00:00:00,Grétrystraat 63,Brussels,None,Belgium,1000,5.94

In [5]:
big_list=[]
a=0
while a<len(rows[0]):
    big_list.append([])
    a+=1

In [7]:
big_list

[[], [], [], [], [], [], [], [], []]

1. Check which staffs has the best sales
What should i do:
- the table should have 2 columns which is the employee name and sales they earn
- employee can be found in table employees with column FirstName LastName
-

2. which album sales the best

3. which customers pay the most

4. what genic of music sale the best

5. which singer earn the most