In [2]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('data/chinook.db')
db = conn.cursor()

1. Check which customers buy the most
What should i do:
- the table should have 3 columns which is the customersId, customers name and money they spent
- customers can be found in table customers with column FirstName LastName
- money they spent can be found in invoices with column total
- customers and invoice can be join by CustomerId
2. Problem I faced:
- i forget the order of searching and put order by after limit. limit should always be the last one
- String can be joined by using ||

In [38]:
db.execute(    
'''
select c.CustomerId, c.FirstName||' ' ||c.LastName as name,sum(total) as total_spending
from customers c join invoices i on c.CustomerId=i.CustomerId
group by name
order by total_spending desc
limit 3

''')
rows = db.fetchall()
pd.DataFrame(rows,columns=['cusomterID','name','total_spending'])

   cusomterID                name  total_spending
0           6         Helena Holý           49.62
1          26  Richard Cunningham           47.62
2          57          Luis Rojas           46.62

2. which Track sales the most
- I am looking for both amount of sales which can be found in total within invoices and count the number after groupby the album
- the table should have 3 columns trackId, sales, number of sales
- TrackId canbe found in the invoice_items, total from invoices table can be join by InvoiceId

Add-on:
- I should be able to use subquery to join the table with Track table to see the name of the track instead of just ID

In [14]:
db.execute(    
'''
select e.TrackId,t.name,sales,number_of_sales
from (
select TrackId,sum(total) as sales, count(i.InvoiceId) as number_of_sales
from invoices i join invoice_items t on i.InvoiceId=t.InvoiceId
group by TrackId
) as e join tracks t on e.TrackId=t.TrackId
order by sales desc
limit 20

''')
rows = db.fetchall()
pd.DataFrame(rows,columns=['TrackId','name','number_of_sales','sales'])

    TrackId                                     name  number_of_sales  sales
0      2832                           The Woman King            43.77      2
1      2850                                  The Fix            43.77      2
2      2868                                Walkabout            43.77      2
3      3214                        Phyllis's Wedding            29.82      2
4      2814                               Insensível            25.86      1
5      2823                            Collaborators            25.86      1
6      2841                           One Giant Leap            25.86      1
7      2859  Man of Science, Man of Faith (Premiere)            25.86      1
8      2877                                 The Moth            25.86      1
9      2886               Stranger In a Strange Land            25.86      1
10     2895                                Par Avion            25.86      1
11     2904                                  Outlaws            25.86      1
12     2913                          Deus Ex Machina            25.86      1
13     2922          Live Together, Die Alone, Pt. 1            25.86      1
14     2931                                 So Cruel            25.86      1
15     2959                Hallelujah Here She Comes            25.82      2
16     2945                           Peace On Earth            24.85      2
17     2837                        Crossroads, Pt. 1            23.86      1
18     2846                Seven Minutes to Midnight            23.86      1
19     2855                              Company Man            23.86      1

3. what singer has the most diverse genre of music
- the connection should be TrackId from tracks >  join GenreId with genres and show g.Name > join AlbumId with albums and show a.ArtistId > join a.ArtistId with artists on art.Name

Problems:
- I think the biggest problem here is I dont know if my answer is correct but I guess same do my boss:) so leave it be

In [67]:
db.execute(    
'''
select art.Name,count(Distinct(g.Name)) as number_of_distinct_genre
from tracks t join genres g on t.GenreId = g.GenreId join albums a on t.AlbumId = a.AlbumId 
join artists art on a.ArtistId=art.ArtistId
group by art.Name
order by number_of_distinct_genre desc
limit 20

''')
rows = db.fetchall()
pd.DataFrame(rows,columns=['name','number_of_distinct_genre'])

                     name  number_of_distinct_genre
0             Iron Maiden                         4
1         Various Artists                         3
2           Lenny Kravitz                         3
3              Jamiroquai                         3
4            Gilberto Gil                         3
5    Battlestar Galactica                         3
6              Audioslave                         3
7                      U2                         2
8              The Office                         2
9   Red Hot Chili Peppers                         2
10                 R.E.M.                         2
11              Pearl Jam                         2
12          Ozzy Osbourne                         2
13                   Lost                         2
14                 Heroes                         2
15          Guns N' Roses                         2
16           Foo Fighters                         2
17          Faith No More                         2
18           Eric Clapton                         2
19   Antônio Carlos Jobim                         2

4. which singer has issued the most abrum
- table should have 2 columns artists name/number of album
- Main database should be track
- track to albums on AlbumId
- track to artists on ArtistId
- group by artists Name count the number of Album

In [12]:
db.execute(    
'''
select art.Name,count(distinct(t.AlbumId)) as number_of_album
from tracks t join albums a on t.AlbumId=a.AlbumId join artists art on a.ArtistId=art.ArtistId
group by art.Name
order by number_of_album desc
limit 20

''')
rows = db.fetchall()
pd.DataFrame(rows,columns=['Name','number_of_album'])

                       Name  number_of_album
0               Iron Maiden               21
1              Led Zeppelin               14
2               Deep Purple               11
3                        U2               10
4                 Metallica               10
5             Ozzy Osbourne                6
6                 Pearl Jam                5
7           Various Artists                4
8                 Van Halen                4
9                      Lost                4
10             Foo Fighters                4
11            Faith No More                4
12       The Rolling Stones                3
13               The Office                3
14                  Santana                3
15    Red Hot Chili Peppers                3
16                   R.E.M.                3
17                    Queen                3
18  Os Paralamas Do Sucesso                3
19              Miles Davis                3

5. Check what is media type and make a brief conclusion

In [18]:
db.execute(    
'''
select m.Name, count(t.TrackId) as number_track_sold
from tracks t join media_types m on t.MediaTypeId=m.MediaTypeId
group by m.Name
order by number_track_sold desc
limit 20

''')
rows = db.fetchall()
pd.DataFrame(rows,columns=['MediaType','number_track_sold'])

                     MediaType  number_track_sold
0              MPEG audio file               3034
1     Protected AAC audio file                237
2  Protected MPEG-4 video file                214
3               AAC audio file                 11
4     Purchased AAC audio file                  7

6. try to find which genre sell the most
- similar to q4
- we can then combine it with q5 to check within each mediatype which one sell the best

In [26]:
db.execute(    
'''
select g.name,count(t.TrackId) as number_of_track_sold
from tracks t join genres g on t.GenreId=g.GenreId
group by g.name
order by number_of_track_sold desc
limit 5

''')
rows = db.fetchall()
pd.DataFrame(rows,columns=['Genre','number_of_track_sold'])

                Genre  number_of_track_sold
0                Rock                  1297
1               Latin                   579
2               Metal                   374
3  Alternative & Punk                   332
4                Jazz                   130

7. combine with q5 to check within each type of music and Genre sell the most tracks
Problems:
- I tried to get only 5 subgroups within each Genre, the method I learn(copy) gives rank to each of the subgroup according to the number of track sold of each subgroup and then I filter out all rank 6 or behind

In [58]:
db.execute(    
'''
Select *
from(
select m.Name, g.Name, count(t.TrackId) as number_track_sold,
ROW_NUMBER() OVER (PARTITION BY m.Name order by count(t.TrackId) desc) AS rank
from tracks t join media_types m on t.MediaTypeId=m.MediaTypeId join genres g on t.GenreId=g.GenreId
group by m.Name, g.Name
order by m.Name asc,number_track_sold desc
)
WHERE rank <=5
''')
rows = db.fetchall()
pd.DataFrame(rows)

                              0                   1     2  3
0                AAC audio file                Jazz     3  1
1                AAC audio file               World     2  2
2                AAC audio file                Rock     2  3
3                AAC audio file   Electronica/Dance     2  4
4                AAC audio file               Latin     1  5
5               MPEG audio file                Rock  1211  1
6               MPEG audio file               Latin   578  2
7               MPEG audio file               Metal   374  3
8               MPEG audio file  Alternative & Punk   332  4
9               MPEG audio file                Jazz   127  5
10     Protected AAC audio file                Rock    84  1
11     Protected AAC audio file           Classical    67  2
12     Protected AAC audio file         Alternative    38  3
13     Protected AAC audio file                 Pop    34  4
14     Protected AAC audio file            R&B/Soul    12  5
15  Protected MPEG-4 video file            TV Shows    93  1
16  Protected MPEG-4 video file               Drama    64  2
17  Protected MPEG-4 video file    Sci Fi & Fantasy    26  3
18  Protected MPEG-4 video file              Comedy    17  4
19  Protected MPEG-4 video file     Science Fiction    13  5
20     Purchased AAC audio file           Classical     6  1
21     Purchased AAC audio file         Alternative     1  2

In [68]:
!git add Untitled.ipynb
!git commit -m 'created and solved some self defined challenges and also problem i faced during the process'
!git push origin master

[master f5810be] created and solved some self defined challenges and also problem i faced during the process
 1 file changed, 519 insertions(+), 79 deletions(-)
Enumerating objects: 5, done.
Counting objects: 100% (5/5), done.
Delta compression using up to 20 threads
Compressing objects: 100% (2/2), done.
Writing objects: 100% (3/3), 4.19 KiB | 4.19 MiB/s, done.
Total 3 (delta 0), reused 0 (delta 0)
To github.com:Aipeni/sql_playgorund.git
   4387c8c..f5810be  master -> master